$fuente-primaria:"Montserrat", sans-serif;
$fuente-secundaria:"Poppins", sans-serif;
$padding-container: 0 9rem;
$padding-container-phone: 0 2rem;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}


.header{
    background-color: white;
    max-width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    padding: $padding-container;
    

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__logo{
        margin-right: 20px;
        color: crimson;
        display: flex;
        justify-content: center;
    }
    &__a {
        margin-right:20px ;
        color: black;
        text-decoration: none;
        &:last-of-type{
            margin: 0;
        }
    }
    
    &__li{
        display: inline;
        margin-right: 35px ;
    }

}




.categorias-container{
    padding:$padding-container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90vh 400px 400px;
    grid-gap: 35px;

    grid-template-areas: 
    "headphone headphone headphone headphone"
    "earphone gadgets laptop laptop"
    "console console oculus speaker"
    ;

}

.categoria{

    border-radius: 1.875rem;
    position: relative;

    

    &__caja{
        &--earphone{
            margin-bottom: 20px;
        }
        &--gadgets{
            margin-bottom: 20px;
        }

    }
    &__caja-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 1.7rem;

    }
    
    &__img{
        
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        ;
        &--headphone{
            max-width: 90%;
            max-height: 90vh;
            left: 5%;
         }
        &--earphone{
            bottom: 0;
            top:unset;
         }
         &--gadgets{
            left: 20%;
            top:5%
            
         }

         &--console{
            top: unset;
            left: unset;
            bottom: -12%;
            right: 0;
         }

         &--laptop{
            left: 25%;
            top:5%;
         }
         &--oculus{
            top: unset;
            left: 0;
            bottom: 0;
            border-radius: 1.875rem;
            height: 80%;
           
             object-fit: cover;        
         }

         &--speaker{
            bottom: -10%;
            left: 15%;
            top:unset;
            height: 70%;
            
            object-fit: cover;  
         }

         
    }

    &__h2{
        color: white;
        font-size: 1rem;
        font-family: $fuente-secundaria; 
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -.4px;
    
        &--headphone{
            font-size: 1.875rem;
            color: #000;
            font-weight: 500;
            letter-spacing: -1.3px;
            margin: 0 0 -11px;
        }
        &--console{
            color: #000;
        }
        
    }
   
    &__span{
        color: white;
        font-size: 1.875rem;
        font-family: $fuente-secundaria;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: -1px;
        margin: 0 0 -5px;

        &--headphone{
            font-size: 5rem;
            font-weight: 700;
            line-height: 120px;
            letter-spacing: -2px;
            margin: 0;
            color: #000;
            
        }  &--console{
            color: #000;
        }
        
    }

    
    &__p{ 
        font-size: 3.125rem;
        color: white;
        font-family: $fuente-primaria;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 60px;
        letter-spacing: -2.9px;
        opacity: 0.2;
        margin-bottom: 20px;

        &--headphone{
            // font-size: 13rem;
            font-size: 10.5vw;
            line-height: 150px;
            letter-spacing: -2.9px;
            opacity: unset;
            margin-bottom: 0px; 
        }
        &--console{
            opacity: unset;
            font-size: 4rem;
        }
        &--laptop{
            font-size: 4rem;
        }
    
    }
    
    &__boton{
        font-family: $fuente-primaria;
        color: white;
        position: relative;
        background-color: #f42c37;;
        border-radius: 2rem;
        text-align: center;
        padding: 10px 30px;
        text-decoration: none;
        z-index: 999;
        
        
        &--headphone{
           height: 2.5rem;
        }

        &--gadgets{
            background-color: white;
            color: #fec62e ;
        }
        &--laptop{
            background-color: white;
            color: #f42c37;
        }
        &--oculus{
            background-color: white;
            color: #2dd06e ;
        }
        &--speaker{
            background-color: white;
            color: #147aff;;
        }

    }
    &__descripcion{
        text-align: right ;
        margin-right: 6rem;
        font-family: $fuente-primaria;
    }
    &__descripcion-titulo{
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    &__descripcion-texto{
        color: gray;
        font-size: 1rem;
        line-height: 1.5rem;

    }


    
    &--headphone{
        background: linear-gradient(to right, #cfcfcf, #f5f5f5);  
        grid-area: headphone;
        padding: 16% 0 7% 9%;

     }
     &--earphone{
         background-color: #222222;
         grid-area: earphone ;
         display: flex;
         align-items: end;
         padding-left: 10%  ;
         padding-bottom: 12%;
        
         

     }
     &--gadgets{
         background-color: #fec62e;
         grid-area: gadgets;
         display: flex;
         align-items: end;
         padding-left: 10%  ;
         padding-bottom: 12%;
         

 
     }
     &--laptop{
         background-color: #f42c37;
         grid-area: laptop;
         padding: 19% 7% 4% 12%;
     }
     &--console{
        background: linear-gradient(to right, #cfcfcf, #f5f5f5); 
         grid-area: console;
         padding:11% 7% 12% 14%;
     }   
     &--oculus{
         background-color: #2dd06e;
         grid-area: oculus ;
         display: flex;
         align-items: start;
         padding-top: 12%;
         padding-left: 10%;
     }
     &--speaker{
         background-color: #147aff;
         grid-area: speaker;
         display: flex;
         align-items: start;
         padding-left: 10%;
         padding-top: 12%;
     }
 






}

.servicios-container{
    height: auto;
    width: 100%;
    padding: $padding-container;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 13rem;
    margin-top: 3rem;
}


.servicio{
    width: 20%;
    height: 3.125rem;
    display: flex;
    
    &:first-of-type{
        .servicio__img{
            width: 20%;
        }
    }
    

    &__img{
       width: 15%;
       
    }
    &__texto{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 1rem;
    }
    &__h3{
        font-family: $fuente-secundaria;
        font-size: 1rem;
    }
    &__p{
        font-family: $fuente-primaria;
        font-size: 1rem;
        color: #AAAAAA;
    }
}




.oferta-container{
    padding: $padding-container;
}

.oferta{
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 1.875rem;
    background-color: #f42c37;
    color: white;

    &--last{
        background-color: #2dd06e;
        margin-top: 12rem;
    }

    
    

    &__caja{
        
        &--primera{
            width: 65%;

            font-family: $fuente-primaria;            
        }
        &--segunda{
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }
    }
    &__texto{
        padding: 9% 4% 5% 21%;
    }

    &__img{
        position: absolute;
        left: 5%;
        bottom: -35%;

        &--last{
            left: 16%;
        }
       
        
    }

    &__h2{
        font-size: 1rem;
        font-weight: 300;
        line-height: 19px;
        margin: 0 0 3px;

        &--segundo{
            font-family: $fuente-secundaria;
            font-weight: 500;
            line-height: 25px;

        }
    }
    &__span{
        max-height: 412px;
        font-size: 109px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 90px;
        letter-spacing: -3.5px;
        
    

        &--segundo{
            font-family: $fuente-secundaria;
            font-size: 45px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 63px;
            letter-spacing: -2px;

        }
    }
    &__p{
        font-size: 1rem;
        font-weight: 300;
        line-height: 30px;
    
        &--segundo{
            line-height: 23px;
            font-family: $fuente-primaria;
            margin-bottom: 25px;
        }
    }
}


.cajita{
    height: 250px;
}

.publicidad{
    margin: 7rem 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    background-color: #cfcfcf;
    height: 250px;

    &__item{
        width:20%;       
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .publicidad__img{
               
                opacity: 1;
            }
        }

    
    }
    &__img{
        opacity: 0.2;   
        transition: all 0.5s;
    }



}
.title-container{
    padding: $padding-container;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 100px 0px;
}
.title{

    font-family: $fuente-secundaria;
    font-weight: 700;
    font-size:  3rem;
    letter-spacing: -1.7px;

    &__text{
    font-family: $fuente-primaria;
    font-size: 1rem;
    color: #838383;

    }

}

.news-container{
    padding: $padding-container;
    display: flex;
    justify-content: space-between;
    
}

.new{
    width: 30%;
    height: auto;

    &__text-container{
        max-width: 70%;
    }

    &__img{
        max-width: 100%;
        height: auto;
        border-radius: 2rem;
        margin-bottom: 1.3rem;
    }

    &__span{

        font-size: 1rem;
       
        font-family: $fuente-primaria;
    }

    &__h3{
        font-size: 1.3rem;
        font-family: $fuente-secundaria;
        margin: 1rem 0px;
    }

    &__p{
        font-size: 1rem;
        font-family: $fuente-primaria;
        
    }




}

.product-container{
    padding: $padding-container;
    display: flex;
    flex-wrap: wrap;

}


.product{

    width: 25%;
    height: auto;
    padding: 0px 1rem;
    margin-top: 2rem ;
    

    &__sale{
        position: absolute;
        font-size: 13px;
        left: 4%;
        top: 4%;
        border-radius:50% ;
        background-color:#f42c37;
        color: white;
        font-family: $fuente-primaria;
        font-weight: 700;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;

    }
   

    &__img-container{
        width: 100%;
        position: relative;
    }
    &__img{
        border-radius: 1rem;
        width: 100%;
    }

    &__name{
        font-family: $fuente-secundaria;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: -1px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    &__price{
        font-weight: 700;
        font-size: 1.3rem;
        font-family: $fuente-primaria;
    }
}

.footer-container{
    padding: $padding-container;
    margin-bottom: 5rem;

}
.footer{
    display: flex;
   

    &__img{
        margin-bottom: 1rem;
    }

    &__p{
        font-size: 1rem;
    }

    &__box{
        width: 25%;
        
        font-family: $fuente-primaria;
        color: #AAAAAA;
        line-height: 22.5px;


    }
    &__box2{
        width: 20%;
        
      
    }
    &__box3{
        width: 20%;
     
        color:#838383;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -0.45px;     
        
        p{
            line-height: 27px ;
        }
    }
    &__box4{
        width: 35%;
       
    }

   
    &__span{
        
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;

    }


    &__ul{
        list-style: none;
        line-height: 27px ;
        }

    
        
        
    &__a{
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #000;
        &:hover{
            color:crimson;
        }
    }

    &__title{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #000;
    }



    &__container-input{
        display: flex;
        position: relative;
        margin-top: 1.5rem;
        
    }
    &__input{
        width: 100%;
        border-radius: 2rem;
        height: 4rem;
        background: linear-gradient(to right,#f5f5f5, #cfcfcf); 
        border: none;
        
        &::placeholder{
            font-size: 1rem;
            padding-left: 2rem;
        }


    }
    &__button{
        border: none;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        height: 3rem;
        border-radius: 1.5rem;
        padding: 0px 2.5rem;
        background-color: #f42c37;
        color: white;
        


    }


    &__social-media{
        margin-top: 1.5rem;
      
        .fa-brands{
            color: #000;
            margin-right: 2rem;

        }
        
    }
    
    
}





.end{

    background-color: #000;
    padding: $padding-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    &__span{
        color: #AAAAAA;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -.8px;

    }
}


@media (max-width: 1700px) {
    
    .header{
        padding:$padding-container-phone ;
    }
    .categorias-container{
        padding:$padding-container-phone ;
    }
    .servicios-container{
        padding:$padding-container-phone ;
    }
    .oferta-container{
        padding:$padding-container-phone ;
    }
    .title-container{
        padding:$padding-container-phone ;
    }
    .news-container{
        padding:$padding-container-phone ;
    }

    .product-container{
        padding: $padding-container-phone;
    }

    .categoria__img--speaker{
        left: 5%;
    }
    

    .categoria__p--headphone{
        font-size: 12vw;
    }
}


























/* fin header  */



