.proyects{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    padding: 2rem 0;
    background-color: rgb(253, 253, 253);
}

.proyects a{
    display: inline-block; 
    
}

.proyects h2{
    font-size: 2.5rem;
    margin: 2rem 0;
    background: linear-gradient(to right, rgb(58, 0, 103), rgb(28, 0, 166));
    -webkit-background-clip: text;
    color: transparent;
}


