.contact-container{
    height: 90vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.contact{
    width: 50%;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact h2{
   
    padding: 0 1rem;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right, rgb(58, 0, 103), rgb(28, 0, 166));
    -webkit-background-clip: text;
    color: transparent;



}

.contact p{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.3rem;
}
.contact-box{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    width: 50%;
    height: 30%;
    font-size: 1.3rem;

    box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);

}

.contact-box a{
    margin: .5rem 0px ;
    background: linear-gradient(to right, rgb(58, 0, 103), rgb(28, 0, 166));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.4rem;
  
}
.contact-box img{
    width: 1.2rem;
    margin-right: .5rem;
}